@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*************COSTUM*************/

:root{
	--primary-color: #CF3F30;
	--secondary-color:#094A4C;
	--light-color: #FAFAFA;
	--text-color: #121212;
}

.call-to-action {
	width: 214px;
	height: 50px;
	border-radius: 80px!important;
	background-color: var(--primary-color);
	border: none!important;
}

.call-to-action a {
	text-decoration: none;
	font-size: 1rem;
	color: var(--light-color);
	font-weight: 600;
	font-family: "Poppins", sans-serif;
	
}

.call-to-action:hover {
	background-color: #9C3025;
	transition: 1s;
	
}

/*********TYPOGRAPHY********/

h1 {
	font-family: "Righteous", sans-serif;
	Line-height: 140%;
	font-size: 4rem;
	color: var(--secondary-color);

}

h2 {
	font-family: "Righteous", sans-serif;
    font-size: 3rem;
	line-height: 140%;
	color: var(--secondary-color)!important;
}

h3 {
	font-family: "Righteous", sans-serif;
    font-size: 2rem; 
	line-height: 140%;
	color: var(--secondary-color)!important;
}

h4 {
	font-family: "Poppins", sans-serif;
	font-size: 1.5rem;
	font-weight: 600;
}

p  {
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
	line-height: 140%;
	color: var(--text-color);
}

a  {
	font-family: "Poppins", sans-serif;
}



/************MENU*********/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

  }
  .wrapper{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	/*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
	/* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);*/
	/* clip-path: circle(25px at calc(0% + 45px) 45px); */
	background: var(--secondary-color);
	clip-path: circle(0px at calc(100% - 0px) 0px);
	transition: all 0.3s ease-in-out;
	z-index: 100;
  }
  #active:checked ~ .wrapper{
	clip-path: circle(75%);
  }
  .menu-btn{
	position: fixed;
	right: 20x;
	left:80%;
	top: 13px;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	font-size: 20px;
	color: var(--light-color)!important;
	cursor: pointer;
	/*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
	/* background: linear-gradient(375deg, #1cc7d0, #2ede98); */
   /* background: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%); */
	background: var(--secondary-color);
	transition: all 0.4s ease-in-out;
	z-index: 150;
  }
  #active:checked ~ .menu-btn{
	color: var(--light-color);
  }
  #active:checked ~ .menu-btn i:before{
	content: "\f00d";
  }
  .wrapper ul{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	list-style: none;
	text-align: left;
  }
  .wrapper ul li{
	margin: 15px 0;
  }
  .wrapper ul li a{
	color: none;
	text-decoration: none;
	font-size: 30px;
	font-weight: 500;
	padding: 5px 30px;
	color: var(--light-color);
	border-radius: 50px;
	background: var(--secondary-color);
	position: relative;
	line-height: 50px;
	transition: all 0.3s ease;
  }
  .wrapper ul li a:after{
	position: absolute;
	/*content: "";se riaccendi c'è decorazione*/
	background: var(--light-color);
	/* background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);*/
	/*background: linear-gradient(375deg, #1cc7d0, #2ede98);*/
	width: 104%;
	height: 110%;
	left: -2%;
	top: -5%; /* if the font is 'Oswald'*/
	border-radius: 50px;
	transform: scaleY(0);
	z-index: -1;
	animation: rotate 1.5s linear infinite;
	transition: transform 0.3s ease;
  }
  .wrapper ul li a:hover:after{
	transform: scaleY(1);
  }
  .wrapper ul li a:hover{
	color: var(--light-color);
  }
  input[type="checkbox"]{
	display: none;
  }
  
  
  @keyframes rotate {
	0%{
	  filter: hue-rotate(0deg);
	}
	100%{
	  filter: hue-rotate(360deg);
	}
  }

 .menu{
	background-color: var(--light-color)!important;
	position: fixed;
 } 
  .space-menu {
	margin-right: 4.375rem;
  }
  
  .menu-desktop{
	  font-weight: 600;
	  height: auto;
	  position: fixed;
  }
  
  .nav-link{
	  color: var(--secondary-color)!important;
	  padding-top: 15px;
	  font-size: 1rem;
  }

  .nav-link:hover {
	opacity: 60%;
	transition: 0.5s;
  }