html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*************COSTUM*************/

/*********FONT********/

h1 {font-family: "Righteous", sans-serif;}
h2 {font-family: "Righteous", sans-serif;}
h3 {font-family: "Righteous", sans-serif;}
h4 {font-family: "Poppins", sans-serif;} /**h4 provvisorio per metterlo nel footer**/
p  {font-family: "Poppins", sans-serif;}
a  {font-family: "Poppins", sans-serif;}

.semi-bold{
	font-weight: 600;
}

.nav-link {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
}

.navbar-toggler {
	border: none;
}

.navbar-toggler-icon {
	background-image: url("img/menu.png")!important;
}

/*********CUSTOM PROPERTIES********/
:root{
	--primary-color: #CF3F30;
	--light-color: #FAFAFA;
	--tertiary-color: #1E9EA1;
}

.light-text{
	color: var(--light-color);
}

.red-bg{
	background-color: var(--primary-color);
}
/*********FOOTER********/
.form-control::placeholder {
    font-family: 'Poppins', sans-serif;
}

.footer-link a{
	color: var(--light-color);
	text-decoration: none;
}

.round-btn{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: var(--tertiary-color);
	border: none;
	cursor: pointer;
}

footer ul{
	line-height: 160%;
}

footer h4{
	padding-bottom: 5%;
}

