@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*************COSTUM*************/

:root{
	--primary-color: #CF3F30;
	--secondary-color:#094A4C;
	--light-color: #FAFAFA;
	--text-color: #121212;
	--tertiary-color: #1E9EA1;
}

.call-to-action {
	width: 214px;
	height: 50px;
	border-radius: 80px!important;
	background-color: var(--primary-color);
	border: none!important;
	transition: background-color 0.3s ease;
}

.call-to-action a {
	text-decoration: none;
	font-size: 1rem;
	color: var(--light-color);
	font-weight: 600;
	font-family: "Poppins", sans-serif;
	
}

.call-to-action:hover {
	background-color: #9C3025;
	transition: 1s;
	
}

.text-light p{
	color: var(--light-color)!important;
}

/*********TYPOGRAPHY********/

h1 {
	font-family: "Righteous", sans-serif;
	Line-height: 140%;
	font-size: 4rem;
	color: var(--secondary-color);

}

h2 {
	font-family: "Righteous", sans-serif;
    font-size: 3rem;
	line-height: 120%;
	color: var(--secondary-color)!important;
}

h3 {
	font-family: "Righteous", sans-serif;
    font-size: 2rem; 
	line-height: 140%;
	color: var(--secondary-color)!important;
}

h4 {
	font-family: "Poppins", sans-serif;
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 140%;
}

h5{
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
	font-weight: 600;
}

p  {
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
	line-height: 140%;
	color: var(--text-color);
}

a  {
	font-family: "Poppins", sans-serif;
}

/*lg*/
@media screen and (max-width: 992px) and (min-width: 766px) {
	h2 {font-size:2.5rem;}
	h4{font-size: 1.25rem;}
	
	.call-to-action {
		width: 180px;
	}
}

/*md*/
@media screen and (max-width: 765px) and (min-width: 577px) {
	h2 {font-size:2.25rem;}
	h4{font-size: 1.125rem;}
	.call-to-action {
		width: 180px;
	}
}

/*sm*/
@media screen and (max-width: 576px) {
	h2 {font-size:1.75rem;}
	.call-to-action {
		width: 180px;
	}
}

/*xsm*/
@media screen and (max-width: 393px) {
	
	.call-to-action {
		width: 160px;
	}
}

/***************************MENU*****************************/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.menu {
	background-color: var(--light-color);
	position: fixed;
    top: 0;
    left: 0;
    z-index: 1030;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--secondary-color);
}

.nav-menu {
    display: flex;
    align-items: center;
}

.voice-menu {
    margin-left: 4.5rem;
}

.voice-menu p {
    font-size: 3rem;
}

.voice-menu a {
	font-size: 1rem!important;
	font-weight: 600;
	position: relative;
}

.voice-menu a::after {
	content: '';
	display: block;
	width: 0%;
	height: 1px;
	background-color: var(--secondary-color);
	position: absolute;
	bottom: -5px;
	left: 0;
	transition: width 0.3s ease; 
}

.voice-menu a:hover::after {
	width: 100%;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--secondary-color);
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
}

@media only screen and (max-width: 996px) {
    .nav-menu {
        position: fixed;
        left: 100%;
        top: 4rem;
        flex-direction: column;
        background-color:var(--light-color);
        width: 100%;
		height: 100%;
        transition: 0.3s;
		display: flex!important;
		align-items: start;
		padding: 5%;

    }

	.border-menu {
		border-bottom: solid 1px var(--secondary-color);
	}

    .nav-menu.active {
        left: 0;
    }

    .voice-menu {
		width: 100%;
		margin-left: 0;
    }

	.voice-menu a {
		font-size: 1.5rem!important;
		font-weight: 600;
		width: 100%;
        padding: 1rem 0;
	}

	.voice-menu a:hover::after {
        width: 0;
    }

	.voice-menu img {
		display: block!important;
	}

    .hamburger {
        display: block;
        cursor: pointer;
    }

	.hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

  /*********FOOTER********/

footer{
	background-image: url('img/footer-bg-mobile.svg'); 
	background-repeat: no-repeat;
	background-size: cover;
}

@media (min-width: 768px) {
	footer{
		background-image: url('img/footer-bg-desktop.svg'); 
	}
	
}

.form-control::placeholder {
    font-family: 'Poppins', sans-serif;
}

.newsletter{
	height: 50px;
	background-color: var(--light-color);
	z-index: 0;
}

.footer-link a{
	color: var(--light-color);
	text-decoration: none;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.footer-link a:hover{
	color: var(--secondary-color);
}

.round-btn{
	width: 50px;
	height: 50px;
	background-color: var(--tertiary-color);
	border: none;
	cursor: pointer;
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.round-btn:hover{
	background-color: var(--secondary-color);
}

.input-group .form-control:focus{
	z-index: 0;
    box-shadow: 0 0 0 0.25rem rgba(141, 25, 4, 0.25);
}

.input-group input[type="email"] {
    font-family: 'Poppins', sans-serif;
	color: var(--text-color);
}

.input-group .round-btn {
    z-index: 1;
}
  
.alert-success {
    color: var(--light-color);
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	z-index: 2;
}

footer ul{
	line-height: 160%;
}

footer h5{
	padding-bottom: 5%;
}

.social-icon path{
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.social-icon:hover path {
	fill: var(--secondary-color);
}

/***************HOME****************/

/*header home*/

.header-home-wrapper {
	height: auto;
	position:absolute;
	top:0;
	left: 0;
	width: 100%;
}

.header-home {
	position: relative;
	height: auto;
	margin-top: 160px;
	margin-bottom: 400px;
}


.header-home h1{
	font-size: 6.875rem;
	line-height: 100%;
    color: var(--secondary-color);
  }

.header-home h4{
    color: var(--secondary-color);
  }

.header-img {
	margin-top: 70px;
}
/*xxl*/
@media screen and (max-width: 1200px) and (min-width: 993px) {
	.header-home h1{
		font-size: 5.625rem;
	}

	.header-home {
		margin-top: 100px;
	}
	
}

/*lg*/
@media screen and (max-width: 992px) and (min-width: 769px) {
	.header-home h1{
		font-size: 4.375rem;
	}

	.header-home {
		margin-top: 100px;
	}
	
}

/*md*/
@media screen and (max-width: 768px) and (min-width: 577px) {
	.header-home h1{
		font-size: 3.125rem;
	}

	.header-home {
		margin-top: 80px;
	}
	
}

/*sm*/
@media screen and (max-width: 576px) {
	.header-home h1{
		font-size: 2.5rem;
	}

	.header-home {
		margin-top: 80px;
	}

	.header-img {
		margin-top: 90px;
	}
}

/*essenza home*/

.essence-home {
	position: relative;
	margin-bottom: 250px;
}

.essence-home-wrapper {
	position: absolute;
	top: 740px;
	left: 0;
	width: 100%;
}

/*lg*/
@media screen and (max-width: 992px) and (min-width: 766px) {
	.essence-home-wrapper {
		position: absolute;
		top: 645px;
		left: 0px;
		width: 100%;
	}
	
}

/*md*/
@media screen and (max-width: 765px) and (min-width: 577px) {
	.essence-home-wrapper {
		position: absolute;
		top: 560px;
		left: 0px;
		width: 100%;
	}
	
}

/*sm*/
@media screen and (max-width: 576px) and (min-width: 394px) {

	.essence-home-wrapper {
		position: absolute;
		top: 515px;
		left: -60px;
		width: 100%;
	}

}

/*xsm*/
@media screen and (max-width: 393px) {
	.essence-home-wrapper {
		position: absolute;
		top: 555px;
		left: -75px;
		width: 100%;
	}
	.call-to-action {
		width: 160px;
	}
	
    .call-to-action a {
	    font-size: 0.875rem;
    }
}


/*prodotti in evidenza home*/

.splide__arrow {
  
	background: #1E9EA1!important;
	opacity: 1!important;
}

.splide__arrow svg {
    fill: #FAFAFA!important;

}

.splide__pagination {
	bottom: -3.5em!important;
}

.card-img {
	background-color: transparent!important;
	border:none;
}

.carousel-home {
	background-image: url(img/background-home-red.svg);
	background-repeat: no-repeat;
	height: 650px;
	background-position: center center;
	background-size: cover;

}

.call-to-action-home {
	background-color: var(--secondary-color)!important;
	width: 214px;
	height: 50px;
	border-radius: 80px!important;
	border: none!important;
	transition: background-color 0.3s ease;
}

.call-to-action-home a {
	text-decoration: none;
	font-size: 1rem;
	color: var(--light-color);
	font-weight: 600;
	font-family: "Poppins", sans-serif;
	
}

.call-to-action-home:hover {
	background-color: #042223;
	transition: 1s;
	
}

/*portfolio home*/
.portfolio-home-wrapper {
	background-image: url(img/onda-home-verdone.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	height: 816px;
	background-color: var(--primary-color);
	margin-bottom: -60px;
	margin-top: -10px;
}

.portfolio-home-wrapper h2 {
	color: var(--light-color)!important;
}

.portfolio-home-wrapper p {
	color: var(--light-color)!important;
	font-weight: 400!important;
}

@media screen and (max-width: 765px) {
    .portfolio-home-wrapper {
		background-image: url(img/onda-home-verdone-md.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: auto;
		height: 1200px;
		margin-top: -100px;
		background-color: var(--primary-color);
	}

	.portfolio-home {
		margin-top: 30px;
		margin-bottom: 30px;
		
	}

}