html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*************COSTUM*************/

/*********FONT********/

h1 {font-family: "Righteous", sans-serif;}
h2 {font-family: "Righteous", sans-serif;}
h3 {font-family: "Righteous", sans-serif;}
h5 {font-family: "Poppins", sans-serif;} /**h4 provvisorio per metterlo nel footer**/
p  {font-family: "Poppins", sans-serif;}
a  {font-family: "Poppins", sans-serif;}

.semi-bold{
	font-weight: 600;
}

.nav-link {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
}

.navbar-toggler {
	border: none;
}

.navbar-toggler-icon {
	background-image: url("img/menu.png")!important;
}

/*********CUSTOM PROPERTIES********/
:root{
	--primary-color: #CF3F30;
	--secondary-color: #094A4C;
	--light-color: #FAFAFA;
	--tertiary-color: #1E9EA1;
	--text-color: #121212;
}

.text-light{
	color: var(--light-color);
}

.bg-red{
	background-color: var(--primary-color);
}
/*********FOOTER********/

footer{
	background-image: url('img/footer-bg-mobile.svg'); 
	background-repeat: no-repeat;
	background-size: cover;
}

@media (min-width: 768px) {
	footer{
		background-image: url('img/footer-bg-desktop.svg'); 
	}
	
}


.form-control::placeholder {
    font-family: 'Poppins', sans-serif;
}

.newsletter{
	height: 50px;
	background-color: var(--light-color);
	z-index: 0;
}

.footer-link a{
	color: var(--light-color);
	text-decoration: none;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.footer-link a:hover{
	color: var(--secondary-color);
}


.round-btn{
	width: 50px;
	height: 50px;
	background-color: var(--tertiary-color);
	border: none;
	cursor: pointer;
	border-top-left-radius: 0;
    border-bottom-left-radius: 0;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.round-btn:hover{
	background-color: var(--secondary-color);
}

.input-group .form-control:focus{
	z-index: 0;
    box-shadow: 0 0 0 0.25rem rgba(141, 25, 4, 0.25);
}

.input-group input[type="email"] {
    font-family: 'Poppins', sans-serif;
	color: var(--text-color);
}


.input-group .round-btn {
    z-index: 1;
}
  
.alert-success {
    color: var(--light-color);
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	z-index: 2;


}

footer ul{
	line-height: 160%;
}

footer h5{
	padding-bottom: 5%;
}

