@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*************COSTUM*************/

:root{
	--primary-color: #CF3F30;
	--secondary-color:#094A4C;
	--light-color: #FAFAFA;
	--text-color: #121212;
	--tertiary-color: #1E9EA1;
}

.call-to-action {
	width: 214px;
	height: 50px;
	border-radius: 80px!important;
	background-color: var(--primary-color);
	border: none!important;
	transition: background-color 0.3s ease;
}

.call-to-action a {
	text-decoration: none;
	font-size: 1rem;
	color: var(--light-color);
	font-weight: 600;
	font-family: "Poppins", sans-serif;

}

.call-to-action:hover {
	background-color: #9C3025;
	transition: 1s;

}

.text-light p{
	color: var(--light-color)!important;
}

/*********TYPOGRAPHY********/

h1 {
	font-family: "Righteous", sans-serif;
	Line-height: 140%;
	font-size: 4rem;
	color: var(--secondary-color);

}

h2 {
	font-family: "Righteous", sans-serif;
	font-size: 3rem;
	line-height: 120%;
	color: var(--secondary-color)!important;
}


h3 {
	font-family: "Righteous", sans-serif;
	font-size: 2rem;
	line-height: 140%;
	color: var(--secondary-color)!important;
}

h4 {
	font-family: "Poppins", sans-serif;
	font-size: 1.5rem;
	font-weight: 600;
	line-height: 140%;
}

h5{
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
	font-weight: 600;
}

p  {
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
	line-height: 140%;
	color: var(--text-color);
}

a  {
	font-family: "Poppins", sans-serif;
}

subtitle {
	font-family: "Poppins", sans-serif;
	font-size:1.5rem;
	line-height: 140%;
}

small {
	font-family: "Poppins", sans-serif;
	font-size: 0.75em;
	line-height: 140%;
}

strong  {
	font-family: "Poppins", sans-serif;
	font-size: 1rem;
	line-height: 140%;
	font-weight: semibold;
	color: var(--secondary-color);
}

/***************************MENU*****************************/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.menu {
	background-color: var(--light-color);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1030;
}

.hamburger {
	display: none;
}

.bar {
	display: block;
	width: 25px;
	height: 3px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: var(--secondary-color);
}

.nav-menu {
	display: flex;
	align-items: center;
}

.voice-menu {
	margin-left: 4.5rem;
}

.voice-menu p {
	font-size: 3rem;
}

.voice-menu a {
	font-size: 1rem!important;
	font-weight: 600;
	position: relative;
}

.voice-menu a::after {
	content: '';
	display: block;
	width: 0%;
	height: 1px;
	background-color: var(--secondary-color);
	position: absolute;
	bottom: -5px;
	left: 0;
	transition: width 0.3s ease;
}

.voice-menu a:hover::after {
	width: 100%;
}

.nav-link{
	font-size: 1.6rem;
	font-weight: 400;
	color: var(--secondary-color);
}

.nav-logo {
	font-size: 2.1rem;
	font-weight: 500;
}

@media only screen and (max-width: 996px) {
	.nav-menu {
		position: fixed;
		left: 100%;
		top: 4rem;
		flex-direction: column;
		background-color:var(--light-color);
		width: 100%;
		height: 100%;
		transition: 0.3s;
		display: flex!important;
		align-items: start;
		padding: 5%;

	}

	.border-menu {
		border-bottom: solid 1px var(--secondary-color);
	}

	.nav-menu.active {
		left: 0;
	}

	.voice-menu {
		width: 100%;
		margin-left: 0;
	}

	.voice-menu a {
		font-size: 1.5rem!important;
		font-weight: 600;
		width: 100%;
		padding: 1rem 0;
	}

	.voice-menu a:hover::after {
		width: 0;
	}

	.voice-menu img {
		display: block!important;
	}

	.hamburger {
		display: block;
		cursor: pointer;
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(8px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-8px) rotate(-45deg);
	}

}

/***********************************************PAGINA PRODOTTO***********************************************/
/*PRODOTTO*/
.img-chaise {
	padding-top: 100px;
}

.description-right {
	padding-top: 100px;
}

.description-right strong{
	font-weight: bold;
}

p strong{
	color: var(--text-color)!important;
	font-weight: bold;
}

/*SELETTORE COLORE*/
.color-circle {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 10px;
	cursor: pointer;
}

.color-circle:hover {
	border: 2px solid #094A4C;
}

.color-circle.active {
	border: 2px solid #094A4C; /* Cambia il contorno quando il cerchio è attivo */
}

.bg-red {background-color: var(--red-filter)}
.bg-orange { background-color: var(--orange-filter)}
.bg-blue { background-color: var(--blue-filter)}

/*SPECIFICHE*/
.specifications{
	font-family: "Poppins", sans-serif;
	background-color: rgba(9, 74, 76, 0.22);
}

.accordion-body {
	font-family: "Poppins", sans-serif;
}

/*PREZZO*/
.price-tag{
	background-color: var(--secondary-color);
	width:128px;
	height:72px;
	line-height:72px;
}

/*SHOWROOM*/
#showroom-container {
	background-image: url('img/showroom-bg.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.showroom img {
	max-width: 80%;
}

.showroom text-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.showroom subtitle{
	color: var(--light-color);
}

.showroom strong{
	color: var(--light-color);
	margin-top: 5px;
}

.showroom p{
	color: var(--light-color);
	margin-top: 5px;
}

/*CAROSELLO SM**/
.carousel-showroom {
	background-image: url(img/showroom-bg.png);
	background-repeat: no-repeat;
	height: 650px;
	background-position: center;
	background-size: cover;
}

	.img-wrapper h3 {
		color:#FAFAFA !important;
	}
	.splide__arrow {

		background: #FAFAFA!important;
		opacity: 1!important;
	}

	.splide__arrow svg {
		fill: var(--secondary-color)!important;

	}

	.splide__pagination {
		bottom: -3.5em!important;
	}

	.card-img {
		background-color: transparent!important;
		border:none;
	}


/*CORRELATI*/

#related-furniture-container {
	background-image: url('img/bg-related.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.card{
	background-color: var(--light-color);
}

.product-card{
	background-image: url('img/product-card-bg-sm.svg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center bottom;
	border-radius: 2.4rem;
	margin: 1% 1% 0 1%;
	align-content: space-between;

}

@media (min-width: 768px) and (max-width: 1199px), (min-width: 1400px) {
	.product-card{
		background-image: url('img/product-card-bg-lg.svg');
	}
}

.product-card a{
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.card-img-top{
	align-self: center;
	margin-top: 15%;
	margin-bottom: 20%;
	margin-left: 10%;
	margin-right: 10%;
	width: 80%;
	height: auto;
}

@media (min-width: 768px) and (max-width: 1199px), (min-width: 1400px) {
	.card-img-top{
		margin-bottom: 20%;
	}

}

.card-body{
	padding: 3rem 1.5rem 1.5rem 1.5rem;
}

.card-body p{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.sold-out{
	position: absolute;
	top: 8%;
	left: 8%;
	z-index: 1;
	padding: 3% 5%;
	border-radius: 0.5rem;
	background-color: var(--primary-color);
	color: var(--light-color);
	font-size: 1.1rem;
	font-weight: 600;
	font-family: "Poppins", sans-serif;
}

/**BACKGROUND FILTER COLORS**/
.red-filter-bg{
	background-color: var(--red-filter);
}

.orange-filter-bg{
	background-color: var(--orange-filter);
}

.yellow-filter-bg{
	background-color: var(--yellow-filter);
}

.green-filter-bg{
	background-color: var(--green-filter);
}

.blue-filter-bg{
	background-color: var(--blue-filter);
}

.white-filter-bg{
	background-color: var(--white-filter);
}

.multicolor-filter-bg {
	background:
			linear-gradient(to bottom left, var(--orange-filter) 50%, var(--orange-filter) 50%) top left,
			linear-gradient(to bottom right, var(--yellow-filter) 50%, var(--yellow-filter) 50%) top right,
			linear-gradient(to top left, var(--red-filter) 50%, var(--red-filter) 50%) bottom left,
			linear-gradient(to top right, var(--green-filter) 50%, var(--green-filter) 50%) bottom right;
	background-size: 50% 50%;
	background-repeat: no-repeat;
}


.dot{
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	display: inline-block;
	cursor: pointer;
	border: 0.25rem solid var(--light-color);
}

.dot.active {
	border-color: var(--secondary-color);
}

.dot-group{
	position: absolute;
	top: 52.2%;
}

@media (min-width: 1400px) {
	.dot-group{
		top: 60%;
	}

}

@media (min-width: 768px) and (max-width: 1199px) {
	.dot-group{
		top: 58%;
	}

}

/*FORM PAGINA PRODOTTO*/
.form {
	margin-top: 87px;
	margin-bottom: 81px;
}

.col-left h3{
	margin-bottom: 10px;
	margin-top: 10px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group textarea {
	background-color: #094A4C;
	border: none;
	border-radius: 30px;
}

.col-left button{
	background-color: #CF3F30;
	border: none;
	border-radius: 30px;
	color: #FAFAFA;
	height: 42px;
	width: 182px;
	font-family: "Poppins", sans-serif;
}

.col-left button:hover {
	background-color: #711D15; /* Cambio colore durante l'hover */
}

.col-left p{
	margin-bottom: 47px;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
	color: #FAFAFA;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group textarea {
	background-color: #094A4C;
	border: none;
	border-radius: 30px;
	color: #FAFAFA; /* Testo scritto dall'utente */
}

.form-group textarea:not(:placeholder-shown) {
	color: #FAFAFA; /* Testo scritto dall'utente */
}

.form-group textarea:focus {
	background-color: #094A4C; /* Cambia il colore di sfondo quando il campo è in focus */
}


/*********FOOTER********/
footer{
	background-image: url('img/footer-bg-mobile.svg');
	background-repeat: no-repeat;
	background-size: cover;
}

@media (min-width: 768px) {
	footer{
		background-image: url('img/footer-bg-desktop.svg');
	}
}

.form-control::placeholder {
	font-family: 'Poppins', sans-serif;
}

.newsletter{
	height: 50px;
	background-color: var(--light-color);
	z-index: 0;
}

.footer-link a{
	color: var(--light-color);
	text-decoration: none;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.footer-link a:hover{
	color: var(--secondary-color);
}

.round-btn{
	width: 50px;
	height: 50px;
	background-color: var(--tertiary-color);
	border: none;
	cursor: pointer;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.round-btn:hover{
	background-color: var(--secondary-color);
}

.input-group .form-control:focus{
	z-index: 0;
	box-shadow: 0 0 0 0.25rem rgba(141, 25, 4, 0.25);
}

.input-group input[type="email"] {
	font-family: 'Poppins', sans-serif;
	color: var(--text-color);
}

.input-group .round-btn {
	z-index: 1;
}

.alert-success {
	color: var(--light-color);
	background-color: var(--tertiary-color);
	border-color: var(--tertiary-color);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	z-index: 2;
}

footer ul{
	line-height: 160%;
}

footer h5{
	padding-bottom: 5%;
}

.social-icon path{
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

.social-icon:hover path {
	fill: var(--secondary-color);
}
